.bg{
}

.thumb {;
	height: 220px;
	width: 220px;
	border-radius: 220px;
}

.hom{
    background: url("../assets/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first{
	padding-top: 100px;
}

.work_section {
	text-align: center ;
}

.center_align {
	text-align: center;
}


.contact_logo {
	height: 25px;
	width: 25px;
	margin-left: 10px;
	margin-right: 10px;
}

.jumb{
	background: rgba(0,0,0,0.5);
	color: white;
}

.werk{
	background: rgba(255,255,255,0.3);
}

.txt_white{
	color:white;
}
.photog{
	background: rgba(255,255,255,0.1);
}


.foot{
	background: rgba(255,255,255,0.5);
}